:root{
    --header-height: 4rem;
    --header-color: #202020;    
    --first-color: #F0131E;
    --secondary-color: #FFFFFF;

    
    --z-index-back:-1;
    --z-index-normal: 1;
    --z-index-front:10;
    --z-index-model:100;
}