.menuMain{
    display: flex;
    
}

.menuLink{
    color: var(--secondary-color);
    padding: 1rem;
    &:hover{
        color: var(--first-color);
    }
}

.activado{
    color: var(--first-color);

}